# Project specific
data/

# PostgreSQL
*.sql
*.dump
*.sql.gz
*.pg_dump
*.pg_dumpall
*.pgpass
pg_log/

# Python specific
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.db
*.log
*.env

# Virtual environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Pytest
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Coverage reports
.coverage
*.coverage

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# pipenv
Pipfile.lock
